bin/
obj/
.vs/
.vscode/
TestResults/
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-shm
*.sqlite-wal
*.log
*.tmp
MediaToolsNext.exe
MediaToolsNext.Web.exe
publish-root/
publish-web/
publish-linux-cli/
